### Project Prerequisites
#### Hihlighted below are the prerequisites
- pyspark
- gp
- The dataset is Iowa Liquor sales data for Jan 2021 - Jan 2022. Link ---> 'https://www.kaggle.com/gabrielramos87/iowa-sales-liquor-jan-2021jan-2022?select=Iowa+Liquor+Sales+%28Jan+2021-Jan+2022%29.csv'

In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql import functions as f
from sqlalchemy import create_engine
from getpass import getpass as gp
import os

### Configuration to create a Spark Session

In [5]:
appName = "PySpark Session" 
master = "local[*]"
conf = SparkConf() \
    .setAppName(appName) \
    .setMaster(master) \
    .set("spark.driver.extraClassPath","C:\\spark-3.2.1\jars" #This is the path of spark jars folder
        )

In [6]:
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)
spark = sqlContext.sparkSession

C:\ProgramData\Anaconda3\lib\site-packages\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

### Loading the csv file to a spark dataframe

In [7]:
df = spark.read \
     .option("header","true") \
     .csv('C:\PySpark_Demo\Data-Engineering-101\Iowa_liquor_sales.csv')

In [8]:
df.show()

+-----------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+----------+---------+--------------------+-------------+--------------------+-----------+--------------------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+
|invoice_and_item_number|      date|store_number|          store_name|             address|           city|zip_code|      store_location|county_number|    county| category|       category_name|vendor_number|         vendor_name|item_number|    item_description|pack|bottle_volume_ml|state_bottle_cost|state_bottle_retail|bottles_sold|sale_dollars|volume_sold_liters|volume_sold_gallons|
+-----------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+----------+---------+--------------------+-------------+--------------------+-----------+--------------------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+
|        INV-33179700135|2021-01-04|        2576|Hy-Vee Wine and S...|      1250 N Lake St|     Storm Lake| 50588.0|POINT (-95.200758...|           11|BUENA VIST|1081600.0|     Whiskey Liqueur|        421.0|SAZERAC COMPANY  INC|      64870|Fireball Cinnamon...|  48|             100|              0.9|               1.35|          48|        64.8|               4.8|               1.26|
|        INV-33196200106|2021-01-04|        2649| Hy-Vee #3 / Dubuque|       400 Locust St|        Dubuque| 52001.0|POINT (-90.666497...|           31|   DUBUQUE|1081200.0|      Cream Liqueurs|        300.0|McCormick Distill...|      65200|Tequila Rose Liqueur|  12|             750|             11.5|              17.25|           4|          69|                 3|               0.79|
|        INV-33184300011|2021-01-04|        2539|Hy-Vee Food Store...|          640 S. Oak|     Iowa Falls| 50126.0|POINT (-93.262364...|           42|    HARDIN|1031100.0|     American Vodkas|        260.0|     DIAGEO AMERICAS|      38008|  Smirnoff 80prf PET|   6|            1750|            14.75|              22.13|           6|      132.78|              10.5|               2.77|
|        INV-33184100015|2021-01-04|        4024|Wal-Mart 1546 / I...|           840 S Oak|     Iowa Falls| 50126.0|POINT (-93.262446...|           42|    HARDIN|1031100.0|     American Vodkas|         55.0|SAZERAC NORTH AME...|      36648|       Caliber Vodka|  12|             750|             3.31|               4.97|          12|       59.64|                 9|               2.37|
|        INV-33174200025|2021-01-04|        5385|  Vine Food & Liquor|       2704 Vine St.|West Des Moines| 50265.0|POINT (-93.741511...|           77|      POLK|1012200.0|     Scotch Whiskies|        260.0|     DIAGEO AMERICAS|       4626|Buchanan Deluxe 12YR|  12|             750|            20.99|              31.49|           2|       62.98|               1.5|               0.39|
|        INV-33186700007|2021-01-04|        4110|Brothers Market, ...|      706 Highway 57|    Parkersburg| 50665.0|POINT (-92.785196...|           12|    BUTLER|1032100.0|     Imported Vodkas|        115.0|CONSTELLATION BRA...|      34821|        Svedka 80prf|   6|            1750|             13.5|              20.25|           6|       121.5|              10.5|               2.77|
|        INV-33197500003|2021-01-04|        4228|Fareway Stores #4...|           501 A Ave|         Vinton| 52349.0|POINT (-92.025603...|            6|    BENTON|1032100.0|     Imported Vodkas|        370.0|   PERNOD RICARD USA|      34006|Absolut Swedish V...|  12|             750|             9.99|              14.99|          12|      179.88|                 9|               2.37|
|        INV-33197200010|2021-01-04|        2713|Hy-Vee Dyersville...|    1201 12th Ave SE|     Dyersville| 52040.0|POINT (-91.110798...|           31|   DUBUQUE|1031100.0|     American Vodkas|        434.0|           LUXCO INC|      36308|       Hawkeye Vodka|   6|            1750|             7.17|              10.76|           6|       64.56|              10.5|               2.77|
|        INV-33174600126|2021-01-04|        2648|     Hy-Vee #4 / WDM|       555 S 51st St|West Des Moines| 50265.0|POINT (-93.773557...|           77|      POLK|1012200.0|     Scotch Whiskies|        260.0|     DIAGEO AMERICAS|       5318|Johnnie Walker Do...|   6|             750|            24.05|              36.08|           6|      216.48|               4.5|               1.18|
|        INV-33202000002|2021-01-04|        5735|Super Saver Liquo...| 1510 A Isett Avenue|      Muscatine| 52761.0|POINT (-91.042755...|           70| MUSCATINE|1091300.0|Neutral Grain Spi...|        346.0|OLE SMOKY DISTILL...|      86739|Ole Smoky Apple P...|   8|              50|             8.75|              13.13|           8|      105.04|               0.4|                0.1|
|        INV-33176800008|2021-01-04|        4449|Kum & Go #121 / U...|  12041 Douglas Pkwy|      Urbandale| 50322.0|POINT (-93.782998...|           77|      POLK|1062500.0|        Flavored Rum|         35.0|     BACARDI USA INC|      43051|Bacardi Dragon Berry|  12|             750|             8.26|              12.39|           2|       24.78|               1.5|               0.39|
|        INV-33179700143|2021-01-04|        2576|Hy-Vee Wine and S...|      1250 N Lake St|     Storm Lake| 50588.0|POINT (-95.200758...|           11|BUENA VIST|1081200.0|      Cream Liqueurs|        260.0|     DIAGEO AMERICAS|      68036|Baileys Original ...|  12|             750|            16.49|              24.74|           4|       98.96|                 3|               0.79|
|        INV-33197300019|2021-01-04|        4182|Fareway Stores #0...|   1207  12th Ave SE|     Dyersville| 52040.0|POINT (-91.111904...|           31|   DUBUQUE|1031100.0|     American Vodkas|        301.0|FIFTH GENERATION INC|      38178|Titos Handmade Vodka|   6|            1750|               19|               28.5|          30|         855|              52.5|              13.86|
|        INV-33193600028|2021-01-04|        5176|Smokin' Joe's #15...|  455 Edgewood Rd NW|   Cedar Rapids| 52405.0|POINT (-91.715903...|           57|      LINN|1081400.0|   American Schnapps|        380.0|   Phillips Beverage|      84617|Phillips Root Bee...|  12|            1000|              5.5|               8.25|          12|          99|                12|               3.17|
|        INV-33188900158|2021-01-04|        2616|Hy-Vee Food and D...|    901 South 4th St|        Clinton| 52732.0|POINT (-90.193204...|           23|   CLINTON|1011400.0|  Tennessee Whiskies|        260.0|     DIAGEO AMERICAS|      26656|   George Dickel #12|  12|             750|             13.5|              20.25|           4|          81|                 3|               0.79|
|        INV-33170400225|2021-01-04|        2552|Hy-Vee Food Store...|20 Wilson Avenue ...|   Cedar Rapids| 52404.0|POINT (-91.658577...|           57|      LINN|1051100.0|   American Brandies|        434.0|           LUXCO INC|      55506|Paramount Cherry ...|  12|             750|              5.5|               8.25|           3|       24.75|              2.25|               0.59|
|        INV-33175800061|2021-01-04|        5092|Kum & Go #3035 / ...|       7265 Vista Dr|West Des Moines| 50265.0|POINT (-93.807839...|           77|      POLK|1081400.0|   American Schnapps|         55.0|SAZERAC NORTH AME...|      84172|     99 Bananas Mini|  10|              50|             5.16|               7.74|           3|       23.22|              0.15|               0.03|
|        INV-33178600010|2021-01-04|        5663|Lake View Redempt...|          502 5th St|      Lake View| 51450.0|POINT (-95.051539...|           81|       SAC|1081400.0|   American Schnapps|         65.0|     Jim Beam Brands|      82867|Dekuyper Watermel...|  12|            1000|             7.87|              11.81|           3|       35.43|                 3|               0.79|
|        INV-33193800019|2021-01-04|        5687|Casey's General S...|    4560 16th Ave SW|   Cedar Rapids| 52404.0|POINT (-91.729434...|           57|      LINN|1012100.0|   Canadian Whiskies|        260.0|     DIAGEO AMERICAS|      10807|Crown Royal Regal...|  12|             750|            15.59|              23.39|          12|      280.68|                 9|               2.37|
|        INV-33179700037|2021-01-04|        2576|Hy-Vee Wine and S...|      1250 N Lake St|     Storm Lake| 50588.0|POINT (-95.200758...|           11|BUENA VIST|1011200.0|Straight Bourbon ...|        259.0|  Heaven Hill Brands|      17956| Evan Williams Black|  12|             750|                8|                 12|           2|          24|               1.5|               0.39|
+-----------------------+----------+------------+--------------------+--------------------+---------------+--------+--------------------+-------------+----------+---------+--------------------+-------------+--------------------+-----------+--------------------+----+----------------+-----------------+-------------------+------------+------------+------------------+-------------------+
only showing top 20 rows

### Creating a Temporary view so I can query the table

In [9]:
df.createOrReplaceTempView("Iowa_sales")

In [10]:
df.printSchema()

root
 |-- invoice_and_item_number: string (nullable = true)
 |-- date: string (nullable = true)
 |-- store_number: string (nullable = true)
 |-- store_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- store_location: string (nullable = true)
 |-- county_number: string (nullable = true)
 |-- county: string (nullable = true)
 |-- category: string (nullable = true)
 |-- category_name: string (nullable = true)
 |-- vendor_number: string (nullable = true)
 |-- vendor_name: string (nullable = true)
 |-- item_number: string (nullable = true)
 |-- item_description: string (nullable = true)
 |-- pack: string (nullable = true)
 |-- bottle_volume_ml: string (nullable = true)
 |-- state_bottle_cost: string (nullable = true)
 |-- state_bottle_retail: string (nullable = true)
 |-- bottles_sold: string (nullable = true)
 |-- sale_dollars: string (nullable = true)
 |-- volume_sold_liters: string (nullable = true)
 |-- volume_sold_gallons: string (nullable = true)

###  Performing some transformation ie Converting data types

In [11]:
Iowa_table_1 = spark.sql("""
SELECT  CAST(invoice_and_item_number as STRING), 
        CAST(date as DATE), 
        CAST(store_number as INT),
        CAST(store_name as STRING), 
        CAST(address as STRING),
        CAST(city as STRING), 
        CAST(zip_code as FLOAT), 
        CAST(store_location as STRING),
        CAST(county_number as INT), 
        CAST(county as STRING), 
        CAST(category as INT),
        CAST(category_name as STRING), 
        CAST(vendor_number as NUMERIC), 
        CAST(vendor_name as STRING), 
        CAST(item_number as INT),
        CAST(item_description as STRING),
        CAST(pack as INT), 
        CAST(bottle_volume_ml as INT), 
        CAST(state_bottle_cost as FLOAT), 
        CAST(state_bottle_retail as FLOAT), 
        CAST(bottles_sold as INT), 
        CAST(sale_dollars as FLOAT), 
        CAST(volume_sold_liters as FLOAT),
        CAST(volume_sold_gallons as FLOAT)

FROM Iowa_sales
""")

### Writing the transformed table to a postgres database

In [12]:
Iowa_table_1.write.format("jdbc") \
   .mode("overwrite") \
   .option("url", "jdbc:postgresql://localhost:5432/postgres") \
   .option("dbtable", "public.iowa_table_1") \
   .option("user", user) \
   .option("password", password) \
   .save()

### Writing aggregated tables to the database

In [17]:
monthly_sales_gallons = spark.sql("""
SELECT 
    date,
    SUM(volume_sold_gallons) as monthly_sales_gallons
FROM Iowa_sales
GROUP BY date
ORDER BY date
""")

In [18]:
monthly_sales_gallons.write.format("jdbc") \
   .mode("overwrite") \
   .option("url", "jdbc:postgresql://localhost:5432/postgres") \
   .option("dbtable", "public.monthly_sales_agg") \
   .option("user", user) \
   .option("password", password) \
   .save()

In [19]:
sales_by_store = spark.sql("""
SELECT 
    store_name,
    SUM(volume_sold_gallons) as sales_by_store
FROM Iowa_sales
GROUP BY store_name
ORDER BY SUM(volume_sold_gallons) DESC
""")

In [20]:
sales_by_store.write.format("jdbc") \
   .mode("overwrite") \
   .option("url", "jdbc:postgresql://localhost:5432/postgres") \
   .option("dbtable", "public.store_sales_agg") \
   .option("user", user) \
   .option("password", password) \
   .save()

In [21]:
#Sales 
top_sales_per_day_store = spark.sql("""
SELECT invoice_and_item_number,store_name, date, sale_dollars,
        ROW_NUMBER() OVER (PARTITION BY store_name,date ORDER BY sale_dollars DESC) rank_
FROM Iowa_sales
""")

In [23]:
top_sales_per_day_store.write.format("jdbc") \
   .mode("overwrite") \
   .option("url", "jdbc:postgresql://localhost:5432/postgres") \
   .option("dbtable", "public.top_sales_per_day") \
   .option("user", user) \
   .option("password", password) \
   .save()